<app-header></app-header> <br><br>
<title> Infor Login </title>

<div class="body">
	<div class="logo">
	<img id="logo" src="../assets/logo.png" alt="Infor Logo">
	</div>
	<form>
		<div class="input">
			<div class="input-container">
				<img class="user" src="user.png"/>
				<label>Username</label>
				<input
					required
					#addUsername
					type="email"
					(input)="usernameInput(addUsername.value)"
					placeholder="Required">
			</div>
		</div>

		<div class="input">
			<div class="input-container">
				<img class="password" src="padlock.png"/>
				<img class="passVisibility" src="{{show ? '../../assets/show.png' : '../../assets/hide.png'}}"
				type="button" (click)="togglePass()">
				<label>Password</label>
				<input
					required
					#addPassword
					[type]="show ? 'text' : 'password'"
					(input)="passwordInput(addPassword.value)"
					placeholder="Required">
			</div>
		</div>

		<div class="extras">
			<div class="form-group form-check">
				<input type="checkbox" name="myTextEditBox" value="checked" /> Remember Me
			</div>
			<div class="forgotPass">
				<a (click)="forgotPass($event)" href>Forgot Password?</a>
			</div> 
		</div>
		<form class="button" (click)="submit()">
			<input class="btn btn-light-primary w-100" type="submit" value="Login" />
		</form>
	</form>
	<p *ngIf="!username" class="error-msg"> {{ errorMessage }} </p>
	<p *ngIf="!password" class="error-msg"> {{ errorMessage }} </p>
	<div class="newAccount"> Don't have an account?
		<a (click)="newAccount($event)" href>Sign up</a>
	</div>
</div> <br>

<ul>
	<div class="language"> English (United States) </div>
	<li> Help</li>
	<li> Privacy</li>
	<li> Terms</li>
</ul>