:host {
	justify-content: center;
	align-items: center;
	text-align: center;
}

div.input {
	margin-top: 21px;
	color:rgb(0, 0, 0);
}

.user{
	background-image: url('../../assets/user.png');
}

.password {
	background-image: url('../../assets/padlock.png');
}

.forgotPass{
	font-size: 16px;
	margin-top: -37px;
	margin-left: 180px;
	margin-bottom: 15px;
}

.newAccount{
	margin: 30px;
	font-size: 16px;
	color: rgb(102, 102, 102);
}

.form-group, form-check{
	text-align: center;
	/* center checkbox horizontally */
	padding: 15px;
	margin-left: -190px;
	font-size: 16px;
	color: rgb(102, 102, 102);
}