<h1>Infor Customer Update Password</h1> <br><br>
<title> Infor Password Settings </title>
<div class="body">
  <div class="logo">
    <img id="logo" src="../assets/logo.png" alt="Infor Logo">
  </div>
  <form> 

    <div class="input">
			<div class="input-container">
				<img class="user" src="user.png"/>
				<label>Username</label>
        <input 
          required	
          #newUsername
          type= "email"
          name = "newUser"
          (input)="usernameInput(newUsername.value)"
          [(ngModel)]="newUser"
          placeholder="Required">
			</div>
		</div>
    
		<div class="input">
			<div class="input-container">
				<img class="password" src="padlock.png"/>
        <img class="passVisibility" src="{{show ? '../../assets/show.png' : '../../assets/hide.png'}}"
				type="button" (click)="togglePass()">
				<label>Password</label>
        <input 
          required
          #newPassword
          name = "newPass"
          [type]="show ? 'text' : 'password'"
          (input)="passwordInput(newPassword.value)"
          [(ngModel)]="newPass"
          placeholder="Required">
			</div>
		</div> <br>
    <form class="button" (click)="saveChanges()">
      <input class="btn btn-light-primary w-100" type="submit" value="Save Changes" />
    </form>
  </form>
  <p class="home text-center"><a routerLink="">Home Page</a></p>
  <br>
</div> <br>

<ul>
	<div class="language"> English (United States) </div>
	<li> Help</li>
	<li> Privacy</li>
	<li> Terms</li>
</ul>
