h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    border-bottom: 2px solid #eee;
    font-weight: bold;
}

p {
	margin-top: 100px;
}

#logo{
    display: block;
    padding-top: 1.25em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

:host {
	justify-content: center;
	align-items: center;
	text-align: center;
}

div.input {
	margin-top: 21px;
	color:black;
}

div.input label {
	border-radius: 7px;
	position:relative;
	top: -15px;
	transform: translateY(-50%);
	left: 25px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	border-radius: 7px;
	padding: 15px 30px;
	font-size: 20px;
	outline: 0;
	margin-left: -65px;
	background-color: rgb(254, 250, 250);
}

div.newPass{
    margin-top: 21px;
}

.home{
	margin-top: 20px;
}

.password {
	background-image: url('../../assets/padlock.png');
}
