.table {
  padding: 10px 15px;
}

.selection, p{
  display: inline-block;
  margin: 10px;
  font-size: large;
  margin-left: 20px;
}

.button {
  position: relative;
  bottom: 40px;
  left: 85%;
  width: 50px;
}

.btn.btn-light-primary {
  color: #ffffff;
  border-color: #f1faff;
  background-color: #df0808;
  font-size: 20px;
  margin-right: 38px;
  margin-bottom: 10px;
}

.btn:hover {
	transition: 0.2s ease-in;
  background-color: #b50303;
}

span{
  font-weight: bold;
  padding-left: 10px;
  display: block;
}

table {
  border-collapse: separate;
}

tr {
  border-bottom: 1px solid rgb(220, 219, 219);
}

.prev, .next, .more, .hide {
  width: 100px;
  border-radius: 7px;
  background-color: #cfe2ff;
  margin-right: 40px;
  padding: 5px 5px;
  border-color: #b4d0e8;
  float: right;
}

.prev:hover, .next:hover, .more:hover, .hide:hover {
  transition: 0.2s ease-in;
  background-color: #a5bbdc;
}

tr:hover {
  background-color: rgb(236, 236, 236);
}



