<title> Customer Details </title>
<header class="form-control text-center">
  <h1 class="fw-bold"> Customer List </h1>
</header>

<div >
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th scope="col"> ID </th>
        <th scope="col"> Company Name </th>
        <th scope="col"> Phone # </th>
        <th scope="col"> Location </th>
        <th scope="col"> Contact Name </th>
        <th scope="col"> Website </th>
        <th scope="col"> Details</th>
      </tr>
    </thead>

    <!-- hard coded api (uncomment to work, connected to mock-index.ts) -->
    <!-- <tbody>
      <tr class="body" *ngFor="let index of indices; let i = index">
        <th scope="row"> {{i+1}}</th>
        <td> {{ index.companyName }} </td>
        <td> {{ index.phone }} </td>
        <td> {{ index.location }} </td>
        <td> {{ index.contactName }} </td>
        <td> {{ index.dateEnrolled }} </td>
      </tr>
    </tbody> -->

    <!-- backend api online -->
    <div *ngIf="!data.length"> {{getDataFromAPI()}} </div>
    <tbody>
      <tr class="body" *ngFor="let d of data; let i = index">
        <th scope="row"> {{i+1}}</th>
        <td> {{ d.company.name }} </td>
        <td> {{ d.phone }} </td>
        <td> {{ d.address.street }} {{d.address.suite}} {{d.address.city}}</td>
        <td> {{ d.name }} </td>
        <td> {{ d.website }} </td>
        <td>
          <div id="{{i}}" [(ngModel)]="data[i]" ngDefaultControl (click)="showDetails(data[i])">
            <img src="../assets/info.png" alt="More Details" type="button" height ="35" width="45"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="h5 m-3"> Total records: {{data.length}}</div> <br>

<!-- if user clicked (toggle) i button, set to true, display info -->

<div class="details" *ngIf="data.length">
  <div class="row">
    <div class="col-sm w-100" *ngFor="let d of data;  let i = index">
      <div *ngIf="data[i].show">
        <div class="card align-items-flexs">
          <div class="card-header fw-bold">More Details</div>
          <div class="card-body">
            <h5 class="card-title"> {{ data[i].company.name }} </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <p>ID</p> {{ data[i].id }}</li>
              <li class="list-group-item"> <p>Name</p> {{ data[i].name }} </li>
              <li class="list-group-item"> <p>Username</p> {{ data[i].username }} </li>
              <li class="list-group-item"> <p>Email</p> {{ data[i].email }}</li>
              <li class="list-group-item"> <p>Location</p> {{ data[i].address.street }},
                {{ data[i].address.suite }}, {{ data[i].address.city }},
                {{ data[i].address.zipcode }} </li>
              <li class="list-group-item"> <p>Phone # </p> {{ data[i].phone }} </li>
              <li class="list-group-item"> <p>Website</p>  {{ data[i].website }} </li>
              <li class="list-group-item"> <p>Company Name</p> {{ data[i].company.name }}  </li>
              <li class="list-group-item"> <p>Company's Catch Phrase </p> {{ data[i].company.catchPhrase }}  </li>
              <li class="list-group-item"> <p>Company's BS</p> {{ data[i].company.bs }}  </li>
            </ul>
          </div> 
        </div> 
      </div>  <br>
    </div>  <br>
  </div>  <br>
</div>  <br>

<form class="button" (click)="signOut()">
  <input class="btn btn-light-primary" type="submit" value="Sign Out" />
</form>