<title> Customer Details </title>
<header class="form-control"> <h1 class="fw-bold">Customer List</h1> </header>

<!-- to use local api uncomment: -->
<section>
  <div>
    <table>
      <thead>
        <tr class="h5">
          <th></th>
          <th> Company Name </th>
          <th> Phone </th>
          <th> Location </th>
          <th> Contact Name </th>
          <th> Website </th>
          <!-- <th> Customer Since </th> -->
          <th> Details</th>
          <br><br>
        </tr>
      </thead>

      <!--  <tbody class="body" *ngFor="let index of indices">
          <tr class="data">
            <td style="padding-right: 25px;"> {{ index.companyName }} </td>
            <td style="padding-right: 25px;"> {{ index.phone }} </td>
            <td style="padding-right: 20px;"> {{ index.location }} </td>
            <td style="padding-right: 20px;"> {{ index.contactName }} </td>
            <td style="padding-right: 20px;"> {{ index.dateEnrolled }} </td>
          </tr>
        </tbody> -->

  <!-- online fake api -->
      <div *ngIf="!data.length"> {{getDataFromAPI()}} </div>
        <tbody class="body" *ngFor="let d of data; let i = index">
          <tr>   
            <ol class="fw-bold"> {{ i+1 }} </ol>
            <td class="ps-2"> {{ d.company.name }} </td>
            <td class="ps-2"> {{ d.phone }} </td>
            <td class="ps-2"> {{ d.address.street }} {{d.address.suite}} {{d.address.city}}</td>
            <td class="ps-2"> {{ d.name }} </td>
            <td class="ps-2"> {{ d.website }} </td>
            <td class="ps-2">
              <button id="{{i}}" [(ngModel)]="data[i]" ngDefaultControl (click)="showDetails(data[i])">
                <img src="../assets/info.png" alt="More Details" height ="35" width="45"/>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="h5 m-3"> Total records: {{data.length}}</div> <br>

    <!-- if user clicked (toggle) i button, set to true, display info -->

    <div *ngIf="data.length">
      <div *ngFor="let d of data;  let i = index">
        <div *ngIf="data[i].show">
            <tr class="h6" id="details">
              <div class="wrapper">
                <th class="h5 fw-bold"> More Details About {{ data[i].company.name }} </th> <br>
                <tr > ID        <td class="ps-2"> {{ data[i].id }} </td>           </tr>
                <tr > Name      <td class="ps-2"> {{ data[i].name }} </td>         </tr>
                <tr > Username  <td class="ps-2"> {{ data[i].username }} </td>     </tr>
                <tr > Email     <td class="ps-2"> {{ data[i].email }} </td>        </tr>
                <tr > Address   <td class="ps-2"> {{ data[i].address.street }},
                      {{ data[i].address.suite }}, {{ data[i].address.city }},
                      {{ data[i].address.zipcode }}  </td>                         </tr>
                <tr > Phone     <td class="ps-2"> {{ data[i].phone }}</td>         </tr>
                <tr > Website   <td class="ps-2"> {{ data[i].website }} </td>      </tr>
                <tr > Company Name  <td class="ps-2"> {{ data[i].company.name }} </td> </tr>
                <tr > Company Catch Phrase  <td class="ps-2"> {{ data[i].company.catchPhrase }}  </td> </tr>
                <tr > Company BS  <td class="ps-2"> {{ data[i].company.bs }}  </td> </tr>

              <br><br><br>
            </div>
        </div>
    </div>
  </div>

  <p class="text-center"><a routerLink="">Sign out</a></p>
