<title> Infor Registration </title>
<h1>Infor Customer Registration</h1> <br><br>
<div class="body">
	<div class="logo">
	<img id="logo" src="../assets/logo.png" alt="Infor Logo">
	</div>
	<form>
		<div class="input" style="margin-left: 30px;">
			<div class="input-container">
				<img class="email" src="mail.png" style="margin-left: -5px;"/>
				<label class="registration">Email</label>
				<input placeholder="Optional">
			  </div>
		</div>
		<div class="input">
			<div class="input-container">
				<img class="user" src="user.png"/>
				<label>Username</label>
				<input
				required	
				#newUsername
				type= "email"
				name = "newUser"
				(input)="usernameInput(newUsername.value)"
				[(ngModel)]="newUser"
				placeholder="Required">
			  </div>
		</div>
		<div class="input">
			<div class="input-container">
				<img class="password" src="padlock.png"/>
				<img class="passVisibility" src="{{show ? '../../assets/show.png' : '../../assets/hide.png'}}"
				type="button" (click)="togglePass()">
				<label>Password</label>
				<input
				required
				#newPassword
				name = "newPass"
				[type]="show ? 'text' : 'password'"
				(input)="passwordInput(newPassword.value)"
				[(ngModel)]="newPass"
				placeholder="Required">
			</div> <br>
		</div>
		<form class="button" (click)="register()">
			<input class="btn btn-light-primary width" type="submit" value="Register" />
		</form>
	</form>
	<p class="home text-center"><a routerLink="">Home Page</a></p>
	<br>
</div> <br>

<ul>
	<div class="language"> English (United States) </div>
	<li> Help</li>
	<li> Privacy</li>
	<li> Terms</li>
</ul>