p {
	margin-top: 100px;
}

#logo{
    display: block;
    padding-top: 1.25em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

:host {
	justify-content: center;
	align-items: center;
	text-align: center;
}

div.input {
	margin-top: 21px;
	color:black;
}


label.registration{
	left: 0px;
}

input.button {
	margin-top: 20px;
	width: 115px;
	font-size: 22px;
}

div.newPass{
    margin-top: 21px;
}

.home{
	margin-top: 15px;
}

.input-container {
	position: relative;
}

.email{
	position: absolute;
	background-image: url('../../assets/mail.png');
    width: 23px;
	top: 21px;
	left: auto;
	margin-left: 23px;
}

.password {
	background-image: url('../../assets/padlock.png');
}

